/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #00a63e;
    --accent-hover: #2e7d32;
    --text-main: #fff;
    --text-light: #b0b0b0;
    --bg-dark: #121212;
    --card-dark: #1e1e1e;
    --subtitle-dark: #aaaaaa;
  }

  html,
  body {
    @apply h-full m-0 p-0 bg-bgDark text-[#B0B0B0];
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

/* Esconde a barra de rolagem em todos os lugares mas mantém a funcionalidade */
::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none; /* Firefox */
}
